body {
    font-family: "Playwrite GB S", cursive;

}
body,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
.skill-list {
    font-family: "Inknut Antiqua", serif;
}

img {
    /*this limit width image*/
    max-width: 100%;
}
nav {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.5);
    background-image: url(../img/bg.png);
    background-size: cover;
}

header {
    top: 70px;
    position: relative;
    margin-bottom: 220px;   
    /* background-image: url("../img/bg.png"); */
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

nav ul {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.name h1{
    color: #111111;
}

.name ul li{
    list-style-type: none;
}

h1 {
    font-size: 100px;
    line-height: 130%;
}

h2 {
    font-size: 30px;
    line-height: 130%;
}

h1,
h2 {
    font-weight: normal;
}

p {
    line-height: 150%;
}

nav ul li {
    list-style: none;
    font-family: "New Rocker", system-ui;
}

.skill-list li:nth-child(1) {
    color: #ba2a2d!important;
}

.skill-list li:nth-child(2) {
    color: #3e3e3e!important;
}

.skill-list li:nth-child(3) {
    color: #327397!important;
}

.container h1{
    font-family: 'The Lord Of Punk', sans-serif;
    color: #3e3e3e;
    font-size: 120px;
    margin-top: 40px!important;
    margin: 0;
}

.container h1 .me{
    color: #ba2a2d;
}

.container h1 .me:hover{
    color: #00704a;
}

.me {
    display: inline-block; /* Perlu untuk menggunakan transform */
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
.container h1 .to{
    color: #327397;
}

.button {
    border: 2px solid #3e3e3e;
    font-size: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: #ba2a2d;
    padding: 10px 20px;
    margin-top: 40px;
    display: inline-block;
    transition: background 0.5s ease-in-out;
}

.button:hover {
    background: #00704a;
    color: #f5f5f5;
}

.intro-img{
    box-shadow: 0 8px 16px rgba(0.5, 0.5, 0.5, 0.5)!important;
}

figcaption {
    font-size: 10px;
    margin-top: 10px;
}

.intro-img {
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

.skill-list {
    font-family: 'The Lord Of Punk', sans-serif;
    text-align: center;
    font-size: 100px;
    line-height: 1;  
    margin: 0;
    color: #3e3e3e;
}
.project {
    margin: 30px 0;
    padding: 50px;
    text-align: justify;
}  

.project h2{
    font-family: "Playwrite GB S", cursive;
    color: #3e3e3e;
    font-weight: bold;
}

.project p{
    text-align: justify;
}

.project .white img{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
    
.project img{
    border-radius: 0.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project .button {
    margin-top: 10px;
}
footer {
    text-align: center;
    margin: 100px;

}
footer h2 {
    font-size: 100px;
    margin-bottom: 100px;
    font-family: 'The Lord Of Punk', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;


}

.first{
    color: #ba2a2d !important;
}
.second{
    color: #3e3e3e !important;
}
.thirt{
    color: #327397 !important;
}

.right-alignment {
    text-align: right;
}

li.empty {
    width: 90px;
    border-top: 1px solid black;
    top: -5px;
    position: relative;
}

nav li a {
    text-decoration: none;
    color: black;
}
nav li a:hover {
    text-decoration: underline;
}

